*{
    margin: 0%;
    padding: 0%;
}
body{
background-color: aquamarine;
text-align: center;
}
#container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game{
    height: 60vmin;
    width: 60vmin;
     display: flex;
    flex-wrap: wrap;
    
    gap: 1.5vmin;
}
.box{ 
    height: 18vmin;
    width: 18vmin;
    
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(0 0 0.1);
    font-size: 10vmin;
    color: red;

}
#reset-btn{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 10px;
}
#new-btn{
   background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 10px;   
}
#msg{
    color:rgb(36, 36, 13);
    font-size: 8vmin;
}
.hide{
    display: none;
}